
$color-green: #9DFF3A;
$color-white: #E5E5E5;
$color-black: #000000;
$color-gray1: #999999;
$color-gray2: #4D4D4D;
$color-gray3: #2E2E2E;
$color-gray4: #0F0F0F;

$gradient: linear-gradient(180deg, #75A941 0%, #3A7500 100%);


$font-primary: 'Alexandria', sans-serif;


$breakpoint-sm: 402px;
$breakpoint-md: 768px;
$breakpoint-xl: 1025px;